/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #1769FF
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #0d1117
$badgeTipColor = #3EEE91
$badgeWarningColor = #FFC000
$badgeErrorColor = #FF5959